/* color primario #3B3D48 */
.navbar {
  background-color: #10a0d6;
  color: #fff;
}
.navbar div a {
  color: #fff;
}

.card {
  width: 300px;
  padding: 10px;
}

.card_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.card_img img {
  width: 100px;
  height: 100px;
}

.container_listProduct {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.card-body {
  display: flex;
  justify-content: space-between;
}
.card-body div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin: 5px;
}

.card-shop {
  background-color: aqua;
  width: 350px;
  resize: 0px;
  top: 0px;
  display: block;
}
